
html, body {
	 padding:0px;
	 margin:0px;
	 height:100%;
	 width:100%;
}


#mainWindow{
	 padding:0px;
	 margin:0px;
	 height:100%;
	 width:100%;
	 max-height:100%;
}

.nav{
	 padding-left:1%;
	 padding-top:0.5%;
}

.nav li{
	 cursor:pointer;
}

.tab-content{
	 height:94.6%;
	 padding:4px;
}

.widget{
	 display:inline-block;
}