
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <script src="~/Scripts/b4w.min.js"></script>
    @Scripts.Render("~/bundles/app")
</body>
</html>
